/* line 5, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoSlab-Thin';
  src: url("../fonts/RobotoSlab-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoSlab-Light';
  src: url("../fonts/RobotoSlab-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 3, scss/_default.scss */
* {
  box-sizing: border-box;
}

/* line 7, scss/_default.scss */
body {
  margin: 0;
  line-height: 1.5;
  font-family: "RobotoSlab-Regular", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: .98px;
}

/* line 15, scss/_default.scss */
.container {
  margin: 0 auto;
  max-width: 1170px;
}

/* line 21, scss/_default.scss */
.form-control:focus {
  box-shadow: none;
  border: 2px solid #654EA3;
}

/* line 26, scss/_default.scss */
.primary:focus {
  box-shadow: none;
}

/* line 30, scss/_default.scss */
.btn:focus {
  box-shadow: none;
}

/* line 1, scss/_header.scss */
.top-header {
  height: 50px;
  font-size: 18px;
  margin-bottom: 0;
  border-bottom: 1px solid #eee;
}
@media (max-width: 990px) {
  /* line 1, scss/_header.scss */
  .top-header {
    display: none;
  }
}
/* line 11, scss/_header.scss */
.top-header .container {
  padding: 0;
  position: relative;
  text-align: center;
  overflow: hidden;
  clear: both;
}
/* line 18, scss/_header.scss */
.top-header .container .top-bar-text {
  float: right;
  margin-top: 10px;
}
/* line 22, scss/_header.scss */
.top-header .container .top-bar-text .social-media {
  float: right;
}
/* line 25, scss/_header.scss */
.top-header .container .top-bar-text .social-media a {
  padding-left: 5px;
}
/* line 29, scss/_header.scss */
.top-header .container .top-bar-text .social-media i:before {
  color: #8f9294;
}
/* line 32, scss/_header.scss */
.top-header .container .top-bar-text .social-media i:before:hover:before {
  color: #654EA3;
}
/* line 38, scss/_header.scss */
.top-header .container .top-bar-text .search-bar {
  float: right;
}
@media (max-width: 990px) {
  /* line 41, scss/_header.scss */
  .top-header .container .top-bar-text .search-bar .form-inline {
    padding-left: 20px;
  }
}
/* line 46, scss/_header.scss */
.top-header .container .top-bar-text .search-bar .form-inline .form-control.search {
  border: none;
  border-radius: 0;
  padding: 0;
}
/* line 51, scss/_header.scss */
.top-header .container .top-bar-text .search-bar .form-inline .form-control.search:focus {
  outline: 0;
  box-shadow: none;
}

/* line 62, scss/_header.scss */
.widget-account {
  font-size: 18px;
  float: left;
  margin-bottom: 0;
  text-align: left;
}
@media (max-width: 990px) {
  /* line 62, scss/_header.scss */
  .widget-account {
    float: none;
    text-align: center;
  }
}
/* line 73, scss/_header.scss */
.widget-account .top-bar-account {
  display: inline-block;
  position: relative;
  margin-top: 10px;
}
/* line 78, scss/_header.scss */
.widget-account .top-bar-account ul li {
  float: left;
  margin-right: 15px;
}
/* line 82, scss/_header.scss */
.widget-account .top-bar-account ul li:last-child {
  margin-right: 0;
}
/* line 86, scss/_header.scss */
.widget-account .top-bar-account ul li a {
  color: #8f9294;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 92, scss/_header.scss */
.widget-account .top-bar-account ul li a:hover, .widget-account .top-bar-account ul li a:focus {
  color: #654EA3;
  font-weight: bold;
  transition: .3s ease-in all;
}

/********** LOGO ***********/
/* line 105, scss/_header.scss */
.middle-header {
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 990px) {
  /* line 105, scss/_header.scss */
  .middle-header {
    text-align: left;
    margin-left: 10%;
  }
}
@media (max-width: 550px) {
  /* line 105, scss/_header.scss */
  .middle-header {
    margin-left: 2%;
    text-align: center;
  }
}
/* line 119, scss/_header.scss */
.middle-header .logo {
  max-width: 400px;
  width: 100%;
  height: auto;
}
@media (max-width: 990px) {
  /* line 119, scss/_header.scss */
  .middle-header .logo {
    max-width: 250px;
    margin-bottom: 10px;
  }
}

/***************** NAVBAR ************************/
/* line 134, scss/_header.scss */
header {
  position: relative;
  z-index: 9;
}
/* line 138, scss/_header.scss */
header .separate-nav {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 88px;
}
@media (max-width: 990px) {
  /* line 138, scss/_header.scss */
  header .separate-nav {
    border-bottom: none;
  }
}
/* line 147, scss/_header.scss */
header .separate-nav .navbar {
  box-shadow: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
/* line 153, scss/_header.scss */
header .separate-nav .navbar button.navbar-toggler {
  background-color: #D27497;
}
@media (max-width: 990px) {
  /* line 153, scss/_header.scss */
  header .separate-nav .navbar button.navbar-toggler {
    position: relative;
    margin-top: 13px;
    top: -150px;
    left: 40%;
    width: 70px;
    height: 50px;
  }
}
@media (max-width: 550px) {
  /* line 153, scss/_header.scss */
  header .separate-nav .navbar button.navbar-toggler {
    position: relative;
    top: -20px;
    left: 0;
    width: 70px;
    height: 50px;
    margin: 0 auto;
  }
}
@media (max-width: 990px) {
  /* line 175, scss/_header.scss */
  header .separate-nav .navbar #navbarSupportedContent {
    position: absolute;
    z-index: 2;
    top: -21px;
    background-color: #f7f7f7;
    width: 105%;
    height: 420px;
    text-align: center;
  }
}
/* line 186, scss/_header.scss */
header .separate-nav .navbar #navbarSupportedContent .nav-links.hidden {
  display: none;
  text-decoration: none;
}
@media (max-width: 990px) {
  /* line 186, scss/_header.scss */
  header .separate-nav .navbar #navbarSupportedContent .nav-links.hidden {
    display: block;
    margin-top: 10px;
    font-size: 24px;
    color: #000;
  }
  /* line 196, scss/_header.scss */
  header .separate-nav .navbar #navbarSupportedContent .nav-links.hidden:last-child {
    /*border-bottom: 1px dashed $button-color;*/
  }
}
/* line 202, scss/_header.scss */
header .separate-nav .navbar #navbarSupportedContent .nav-item {
  margin-right: 60px;
}
@media (max-width: 990px) {
  /* line 202, scss/_header.scss */
  header .separate-nav .navbar #navbarSupportedContent .nav-item {
    margin-right: 0;
    margin-top: 10px;
    font-size: 24px;
  }
}
/* line 211, scss/_header.scss */
header .separate-nav .navbar #navbarSupportedContent .nav-item a {
  position: relative;
  color: #000;
  z-index: 1;
}
/* line 219, scss/_header.scss */
header .separate-nav .navbar #navbarSupportedContent .nav-item a:hover, header .separate-nav .navbar #navbarSupportedContent .nav-item a:focus {
  color: #654EA3;
  font-weight: bold;
  text-decoration: none;
}
/* line 226, scss/_header.scss */
header .separate-nav .navbar #navbarSupportedContent .nav-item a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -8px;
  left: 0;
  background: #654EA3;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
/* line 240, scss/_header.scss */
header .separate-nav .navbar #navbarSupportedContent .nav-item a:hover:before, header .separate-nav .navbar #navbarSupportedContent .nav-item a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

/* line 1, scss/_home.scss */
.section-home {
  padding: 160px 0;
}
@media (max-width: 1000px) {
  /* line 1, scss/_home.scss */
  .section-home {
    padding: 160px 50px;
  }
}

/* line 9, scss/_home.scss */
.background-content {
  background-color: #f6f6f6;
}

/* line 14, scss/_home.scss */
.content .title-content {
  margin-bottom: 30px;
  font-size: 48px;
  font-size: 3rem;
  color: #ca0034;
  font-family: "RobotoSlab-Thin", sans-serif;
}
/* line 21, scss/_home.scss */
.content .button-content {
  display: inline-block;
  margin-top: 60px;
  padding: 18px 50px;
  font-family: "RobotoSlab-Light", sans-serif;
  color: #fff;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2NDY5OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2NDY5OSIgc3RvcC1vcGFjaXR5PSIwLjYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #264699), color-stop(100%, rgba(38, 70, 153, 0.6)));
  background-image: -moz-linear-gradient(left, #264699 0%, rgba(38, 70, 153, 0.6) 100%);
  background-image: -webkit-linear-gradient(left, #264699 0%, rgba(38, 70, 153, 0.6) 100%);
  background-image: linear-gradient(to right, #264699 0%, rgba(38, 70, 153, 0.6) 100%);
}
/* line 14, scss/_mixins.scss */
.content .button-content:hover, .content .button-content:focus {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2NDY5OSIgc3RvcC1vcGFjaXR5PSIwLjYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNjQ2OTkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(38, 70, 153, 0.6)), color-stop(100%, #264699));
  background-image: -moz-linear-gradient(left, rgba(38, 70, 153, 0.6) 0%, #264699 100%);
  background-image: -webkit-linear-gradient(left, rgba(38, 70, 153, 0.6) 0%, #264699 100%);
  background-image: linear-gradient(to right, rgba(38, 70, 153, 0.6) 0%, #264699 100%);
}
/* line 31, scss/_home.scss */
.content p {
  line-height: 36px;
}
/* line 35, scss/_home.scss */
.content .list-home {
  margin-top: 60px;
  font-size: 0;
}
/* line 39, scss/_home.scss */
.content .list-home li {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin-bottom: 50px;
  line-height: 24px;
  color: #a7acbc;
}
@media (max-width: 700px) {
  /* line 39, scss/_home.scss */
  .content .list-home li {
    display: block;
  }
}
/* line 53, scss/_home.scss */
.content .list-home li:nth-child(2n) {
  margin-left: 5%;
}
@media (max-width: 700px) {
  /* line 53, scss/_home.scss */
  .content .list-home li:nth-child(2n) {
    margin-left: 0;
  }
}
/* line 62, scss/_home.scss */
.content .list-home li:last-child {
  margin-bottom: 0;
}
/* line 66, scss/_home.scss */
.content .list-home li .number-list,
.content .list-home li .inner-list {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 73, scss/_home.scss */
.content .list-home li .number-list {
  width: 14%;
}
/* line 76, scss/_home.scss */
.content .list-home li .number-list span {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 24px;
  font-size: 1.5rem;
  color: #3f4e76;
  border: 1px solid #c7cde0;
  line-height: 50px;
  font-family: "RobotoSlab-Regular", sans-serif;
}
/* line 90, scss/_home.scss */
.content .list-home li .inner-list {
  margin-left: 5%;
  width: 81%;
}

/* line 98, scss/_home.scss */
#newsletter {
  position: relative;
  background: url("../images/newsletter-2.jpg") center center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  	/*z-index: 2;
  	background-image: -moz-linear-gradient( 51deg, rgb(203,0,53) 0%, rgb(224,105,0) 100%);
  	background-image: -webkit-linear-gradient( 51deg, rgb(203,0,53) 0%, rgb(224,105,0) 100%);
  	background-image: -ms-linear-gradient( 51deg, rgb(203,0,53) 0%, rgb(224,105,0) 100%);
  
  	&:before {
  		content: '';
  		position: absolute;
  		top: 0;
  		left: 0;
  		bottom: 0;
  		right: 0;
  		z-index: -1;
  		background: url('../images/newsletter.jpg') center center no-repeat;
  		@include background-size(cover);
  		opacity: .5;
  	}*/
}
/* line 120, scss/_home.scss */
#newsletter .title-newsletter {
  margin-bottom: 55px;
  font-size: 48px;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  font-family: "RobotoSlab-Bold", sans-serif;
}
/* line 128, scss/_home.scss */
#newsletter form {
  position: relative;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
/* line 134, scss/_home.scss */
#newsletter form .input input {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 15px 145px 15px 20px;
  font-family: "RobotoSlab-Light", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  color: #fff;
}
/* line 145, scss/_home.scss */
#newsletter form .input input::placeholder {
  color: #fff;
}
/* line 151, scss/_home.scss */
#newsletter form .validate input {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 45px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  color: #ca0034;
  font-size: 18px;
  font-size: 1.125rem;
  border: none;
  outline: none;
  font-family: "RobotoSlab-Light", sans-serif;
  cursor: pointer;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2NDY5OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2NDY5OSIgc3RvcC1vcGFjaXR5PSIwLjYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #264699), color-stop(100%, rgba(38, 70, 153, 0.6)));
  background-image: -moz-linear-gradient(left, #264699 0%, rgba(38, 70, 153, 0.6) 100%);
  background-image: -webkit-linear-gradient(left, #264699 0%, rgba(38, 70, 153, 0.6) 100%);
  background-image: linear-gradient(to right, #264699 0%, rgba(38, 70, 153, 0.6) 100%);
  background-color: #fff;
  background-image: none;
}
/* line 14, scss/_mixins.scss */
#newsletter form .validate input:hover, #newsletter form .validate input:focus {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2NDY5OSIgc3RvcC1vcGFjaXR5PSIwLjYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNjQ2OTkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(38, 70, 153, 0.6)), color-stop(100%, #264699));
  background-image: -moz-linear-gradient(left, rgba(38, 70, 153, 0.6) 0%, #264699 100%);
  background-image: -webkit-linear-gradient(left, rgba(38, 70, 153, 0.6) 0%, #264699 100%);
  background-image: linear-gradient(to right, rgba(38, 70, 153, 0.6) 0%, #264699 100%);
}
/* line 168, scss/_home.scss */
#newsletter form .validate input:hover, #newsletter form .validate input:focus {
  color: #fff;
}

/* line 178, scss/_home.scss */
#drones-home {
  text-align: center;
}
/* line 181, scss/_home.scss */
#drones-home ul {
  font-size: 0;
}
/* line 184, scss/_home.scss */
#drones-home ul li {
  display: inline-block;
  vertical-align: top;
  width: 22.5%;
  margin-right: 3.33%;
  font-size: 18px;
  font-size: 1.125rem;
}
/* line 191, scss/_home.scss */
#drones-home ul li:last-child {
  margin-right: 0;
}
/* line 195, scss/_home.scss */
#drones-home ul li .title-drones {
  margin-bottom: 30px;
  font-size: 30px;
  font-size: 1.875rem;
  font-family: "RobotoSlab-Bold", sans-serif;
}
/* line 200, scss/_home.scss */
#drones-home ul li .title-drones a {
  color: #ca0034;
}
/* line 203, scss/_home.scss */
#drones-home ul li .title-drones a:hover, #drones-home ul li .title-drones a:focus {
  color: #654EA3;
}
/* line 210, scss/_home.scss */
#drones-home ul li p {
  line-height: 30px;
}
/* line 214, scss/_home.scss */
#drones-home ul li img {
  display: inline-block;
  margin-bottom: 25px;
}
/* line 221, scss/_home.scss */
#drones-home .button-content {
  line-height: inherit;
  margin-top: 110px;
}

/* line 227, scss/_home.scss */
#background-home {
  background: url("../images/background.jpg") no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 231, scss/_home.scss */
#background-home .wrapper {
  max-width: 700px;
  width: 100%;
  padding: 70px 45px 45px;
  background-color: #fff;
  -moz-box-shadow: 0 0 14.4px 1.6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 14.4px 1.6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 14.4px 1.6px rgba(0, 0, 0, 0.2);
}

/* line 1, scss/_footer.scss */
#footer {
  padding-top: 55px;
  padding-bottom: 55px;
  text-align: center;
}
@media (max-width: 768px) {
  /* line 1, scss/_footer.scss */
  #footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
/* line 11, scss/_footer.scss */
#footer p {
  margin-bottom: 20px;
  color: #a7acbc;
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "RobotoSlab-Light", sans-serif;
}
@media (max-width: 768px) {
  /* line 11, scss/_footer.scss */
  #footer p {
    margin-bottom: 10px;
  }
}
/* line 21, scss/_footer.scss */
#footer p:last-child {
  margin-bottom: 0;
}

@media (max-width: 990px) {
  /* line 1, scss/_slider.scss */
  .slider-section__carousel {
    margin-top: -87px;
  }
}
/* line 7, scss/_slider.scss */
.slider-section__carousel .main-carousel__slide.slide1 {
  background-image: url("../images/slider/couture1.jpg");
}
/* line 11, scss/_slider.scss */
.slider-section__carousel .main-carousel__slide.slide2 {
  background-image: url("../images/slider/tricot.jpg");
}
/* line 15, scss/_slider.scss */
.slider-section__carousel .main-carousel__slide.slide3 {
  background-image: url("../images/slider/crochet1.jpg");
}
/* line 19, scss/_slider.scss */
.slider-section__carousel .main-carousel__slide.slide4 {
  background-image: url("../images/slider/enfant.jpg");
}
/* line 23, scss/_slider.scss */
.slider-section__carousel .main-carousel__slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 28, scss/_slider.scss */
.slider-section__carousel .main-carousel__slide .main-carousel__overlay {
  height: 570px;
  padding-top: 1px;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 550px) {
  /* line 28, scss/_slider.scss */
  .slider-section__carousel .main-carousel__slide .main-carousel__overlay {
    margin-top: 70px;
  }
}
/* line 45, scss/_slider.scss */
.slider-section__carousel .main-carousel__slide .main-carousel__overlay .content-slide {
  position: absolute;
  background: rgba(101, 78, 163, 0.7);
  border: 6px solid transparent;
  outline: 2px dashed #D27497;
  background-clip: padding-box;
  top: 175px;
  height: 225px;
  width: 565px;
  padding: 0 20px;
}
@media (max-width: 590px) {
  /* line 45, scss/_slider.scss */
  .slider-section__carousel .main-carousel__slide .main-carousel__overlay .content-slide {
    width: 400px;
  }
}
/* line 60, scss/_slider.scss */
.slider-section__carousel .main-carousel__slide .main-carousel__overlay .content-slide h3 {
  font-size: 32px;
  text-align: center;
  color: #fff;
  margin-top: 15px;
  line-height: 1.6;
  font-weight: 600;
}
/* line 69, scss/_slider.scss */
.slider-section__carousel .main-carousel__slide .main-carousel__overlay .content-slide .main-carousel__description {
  color: #fff;
  font-size: 15px;
  margin-top: 17px;
  text-align: center;
}
/* line 76, scss/_slider.scss */
.slider-section__carousel .main-carousel__slide .main-carousel__overlay .content-slide a.main-carousel__btn.btn {
  padding: 7px 20px;
  font-size: 22px;
  margin-top: 30px;
  border: 1px solid #D27497;
  background-color: #D27497;
  color: #fff;
  /*
            &::after {
              position: absolute;
              content: "";
              width: 14px;
              height: 10px;
              right: 20%;
              top: 160px;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              background-image: url(../images/icones/double-arrow.svg);
            }*/
}
/* line 84, scss/_slider.scss */
.slider-section__carousel .main-carousel__slide .main-carousel__overlay .content-slide a.main-carousel__btn.btn:hover {
  font-weight: bold;
  background: transparent;
  text-decoration: none;
  color: #D27497 !important;
}
/* line 108, scss/_slider.scss */
.slider-section__carousel .owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
/* line 113, scss/_slider.scss */
.slider-section__carousel .main-carousel.owl-theme .owl-dots {
  position: absolute;
  bottom: 15px;
  left: 32%;
  right: 0;
  width: 33%;
}
@media (max-width: 768px) {
  /* line 113, scss/_slider.scss */
  .slider-section__carousel .main-carousel.owl-theme .owl-dots {
    display: none;
  }
}
/* line 125, scss/_slider.scss */
.slider-section__carousel .main-carousel.owl-theme .owl-nav [class*=owl-] {
  font-size: 0;
  width: 57px;
  height: 56px;
  border-radius: 35px;
  background-size: 11px auto;
}
/* line 133, scss/_slider.scss */
.slider-section__carousel button.owl-prev,
.slider-section__carousel button.owl-next {
  position: absolute;
}
/* line 138, scss/_slider.scss */
.slider-section__carousel button.owl-next {
  top: 265px;
}
/* line 142, scss/_slider.scss */
.slider-section__carousel button.owl-prev {
  top: 265px;
}
/* line 146, scss/_slider.scss */
.slider-section__carousel .btn {
  text-transform: uppercase;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-weight: 500;
}
/* line 154, scss/_slider.scss */
.slider-section__carousel .main-carousel.owl-theme .owl-nav [class*=owl-].owl-next {
  background: rgba(101, 78, 163, 0.7) url(../images/icones/arrow-right.svg) center no-repeat;
  background-size: 20px auto;
  right: 4%;
}
@media (max-width: 990px) {
  /* line 154, scss/_slider.scss */
  .slider-section__carousel .main-carousel.owl-theme .owl-nav [class*=owl-].owl-next {
    display: none;
  }
}
/* line 164, scss/_slider.scss */
.slider-section__carousel .main-carousel.owl-theme .owl-nav [class*=owl-].owl-prev {
  background: rgba(101, 78, 163, 0.7) url(../images/icones/arrow-left.svg) center no-repeat;
  background-size: 20px auto;
  left: 4%;
}
@media (max-width: 990px) {
  /* line 164, scss/_slider.scss */
  .slider-section__carousel .main-carousel.owl-theme .owl-nav [class*=owl-].owl-prev {
    display: none;
  }
}
/* line 174, scss/_slider.scss */
.slider-section__carousel .owl-theme .owl-nav [class*=owl-] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  cursor: pointer;
}
/* line 183, scss/_slider.scss */
.slider-section__carousel .owl-theme .owl-dots .owl-dot.active span, .slider-section__carousel .owl-theme .owl-dots .owl-dot:hover span {
  background: #654EA3 !important;
}
/* line 187, scss/_slider.scss */
.slider-section__carousel .owl-theme .owl-dots .owl-dot span {
  width: 45px;
  height: 7px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
}

/* line 1, scss/_login.scss */
.login {
  margin-top: 20px;
}
/* line 4, scss/_login.scss */
.login .main-title {
  text-align: center;
  font-size: 30px;
  position: relative;
  color: #654EA3;
}
/* line 10, scss/_login.scss */
.login .main-title:after {
  position: absolute;
  content: "";
  width: 160px;
  height: 10px;
  left: 50%;
  top: 45px;
  margin-left: -80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/icones/souligne.svg);
}
/* line 25, scss/_login.scss */
.login form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 31, scss/_login.scss */
.login form .form-group {
  width: 40%;
  margin-top: 30px;
}
@media (max-width: 768px) {
  /* line 31, scss/_login.scss */
  .login form .form-group {
    width: 60%;
  }
}
@media (max-width: 550px) {
  /* line 31, scss/_login.scss */
  .login form .form-group {
    width: 90%;
  }
}
/* line 43, scss/_login.scss */
.login form .form-group label {
  position: relative;
  color: #654EA3;
}
/* line 47, scss/_login.scss */
.login form .form-group label a {
  color: #C62168;
  text-decoration: none;
}
/* line 55, scss/_login.scss */
.login button.btn.btn-primary {
  margin-top: 20px;
  background-color: #654EA3;
  border-color: #654EA3;
}
/* line 60, scss/_login.scss */
.login button.btn.btn-primary:hover, .login button.btn.btn-primary:focus {
  color: #654EA3;
  background-color: #fff;
}

/* line 1, scss/_register.scss */
.register {
  margin-top: 20px;
}
/* line 4, scss/_register.scss */
.register .main-title {
  text-align: center;
  font-size: 30px;
  position: relative;
  color: #654EA3;
}
/* line 10, scss/_register.scss */
.register .main-title:after {
  position: absolute;
  content: "";
  width: 160px;
  height: 10px;
  left: 50%;
  top: 45px;
  margin-left: -80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/icones/souligne.svg);
}
/* line 25, scss/_register.scss */
.register form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 31, scss/_register.scss */
.register form .form-group {
  width: 40%;
  margin-top: 30px;
}
@media (max-width: 768px) {
  /* line 31, scss/_register.scss */
  .register form .form-group {
    width: 60%;
  }
}
@media (max-width: 550px) {
  /* line 31, scss/_register.scss */
  .register form .form-group {
    width: 90%;
  }
}
/* line 43, scss/_register.scss */
.register form .form-group label {
  position: relative;
  color: #654EA3;
}
/* line 47, scss/_register.scss */
.register form .form-group label::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/icones/asterisk.svg);
}
/* line 58, scss/_register.scss */
.register form .form-group label a {
  color: #654EA3;
  text-decoration: none;
}
/* line 66, scss/_register.scss */
.register form button.btn.btn-primary {
  margin-top: 20px;
  background-color: #654EA3;
  border-color: #654EA3;
}
/* line 71, scss/_register.scss */
.register form button.btn.btn-primary:hover, .register form button.btn.btn-primary:focus {
  color: #654EA3;
  background-color: #fff;
}

/* line 1, scss/_forget.scss */
.forget {
  margin-top: 20px;
}
/* line 4, scss/_forget.scss */
.forget .main-title {
  text-align: center;
  font-size: 30px;
  position: relative;
  color: #654EA3;
}
/* line 10, scss/_forget.scss */
.forget .main-title:after {
  position: absolute;
  content: "";
  width: 160px;
  height: 10px;
  left: 50%;
  top: 45px;
  margin-left: -80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/icones/souligne.svg);
}
/* line 25, scss/_forget.scss */
.forget form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 31, scss/_forget.scss */
.forget form .form-group {
  width: 40%;
  margin-top: 30px;
}
@media (max-width: 768px) {
  /* line 31, scss/_forget.scss */
  .forget form .form-group {
    width: 60%;
  }
}
@media (max-width: 550px) {
  /* line 31, scss/_forget.scss */
  .forget form .form-group {
    width: 90%;
  }
}
/* line 43, scss/_forget.scss */
.forget form .form-group label {
  position: relative;
  color: #654EA3;
}
/* line 47, scss/_forget.scss */
.forget form .form-group label a {
  color: #654EA3;
  text-decoration: none;
}
/* line 55, scss/_forget.scss */
.forget button.btn.btn-primary {
  margin-top: 20px;
  background-color: #654EA3;
  border-color: #654EA3;
}
/* line 60, scss/_forget.scss */
.forget button.btn.btn-primary:hover, .forget button.btn.btn-primary:focus {
  color: #654EA3;
  background-color: #fff;
}

/* line 1, scss/_account.scss */
.account {
  margin-top: 20px;
}
/* line 4, scss/_account.scss */
.account .main-title {
  text-align: center;
  font-size: 30px;
  position: relative;
  color: #654EA3;
}
/* line 10, scss/_account.scss */
.account .main-title:after {
  position: absolute;
  content: "";
  width: 160px;
  height: 10px;
  left: 50%;
  top: 45px;
  margin-left: -80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/icones/souligne.svg);
}
/* line 25, scss/_account.scss */
.account form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 31, scss/_account.scss */
.account form .form-group {
  width: 40%;
  margin-top: 30px;
}
@media (max-width: 768px) {
  /* line 31, scss/_account.scss */
  .account form .form-group {
    width: 60%;
  }
}
@media (max-width: 550px) {
  /* line 31, scss/_account.scss */
  .account form .form-group {
    width: 90%;
  }
}
/* line 43, scss/_account.scss */
.account form .form-group label {
  position: relative;
  color: #654EA3;
}
/* line 47, scss/_account.scss */
.account form .form-group label a {
  color: #654EA3;
  text-decoration: none;
}
/* line 55, scss/_account.scss */
.account button.btn.btn-primary {
  margin-top: 20px;
  background-color: #654EA3;
  border-color: #654EA3;
}
/* line 60, scss/_account.scss */
.account button.btn.btn-primary:hover, .account button.btn.btn-primary:focus {
  color: #654EA3;
  background-color: #fff;
}

/* line 1, scss/_contact.scss */
.account {
  margin-top: 20px;
}
/* line 4, scss/_contact.scss */
.account .main-title {
  text-align: center;
  font-size: 30px;
  position: relative;
  color: #654EA3;
}
/* line 10, scss/_contact.scss */
.account .main-title:after {
  position: absolute;
  content: "";
  width: 160px;
  height: 10px;
  left: 50%;
  top: 45px;
  margin-left: -80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/icones/souligne.svg);
}
/* line 25, scss/_contact.scss */
.account form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 31, scss/_contact.scss */
.account form .form-group {
  width: 40%;
  margin-top: 30px;
}
@media (max-width: 768px) {
  /* line 31, scss/_contact.scss */
  .account form .form-group {
    width: 60%;
  }
}
@media (max-width: 550px) {
  /* line 31, scss/_contact.scss */
  .account form .form-group {
    width: 90%;
  }
}
/* line 43, scss/_contact.scss */
.account form .form-group label {
  position: relative;
  color: #654EA3;
}
/* line 47, scss/_contact.scss */
.account form .form-group label label {
  position: relative;
}
/* line 50, scss/_contact.scss */
.account form .form-group label label:after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../images/icones/asterisk.svg);
}
/* line 61, scss/_contact.scss */
.account form .form-group label label a {
  color: #654EA3;
  text-decoration: none;
}
/* line 69, scss/_contact.scss */
.account form button.btn.btn-primary {
  margin-top: 20px;
  background-color: #654EA3;
  border-color: #654EA3;
}
/* line 74, scss/_contact.scss */
.account form button.btn.btn-primary:hover, .account form button.btn.btn-primary:focus {
  color: #654EA3;
  background-color: #fff;
}
