@import 'compass/reset';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	line-height: 1.5;
	font-family: $regular-font;
	@include fontSize(18px);
	letter-spacing: .98px;
}

.container {
	margin: 0 auto;
	max-width: 1170px;

}

.form-control:focus {
	box-shadow: none;
	border: 2px solid $button-color;
}

.primary:focus {
	box-shadow: none;
}

.btn:focus {
	box-shadow: none;
}