@import 'compass/reset';

* {
	box-sizing: border-box;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	margin: 0;
	line-height: 1.5;
	font-family: $regular-font;
	@include fontSize(18px);
	letter-spacing: .98px;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.grid-container {
	max-width: 1170px;
	margin: 0 auto;
}

.form-control:focus {
	box-shadow: none;
	border: 2px solid $button-color;
}

.primary:focus {
	box-shadow: none;
}

.btn:focus {
	box-shadow: none;
}

a {
	text-decoration: none;
}