.top-header {
  height: 50px;
  font-size: 18px;
  margin-bottom: 0;
  border-bottom: 1px solid #eee;

  @media(max-width: 990px){
    display: none;
  }

  .container {
    padding: 0;
    position: relative;
    text-align: center;
    overflow: hidden;
    clear: both;

    .top-bar-text {
      float: right;
      margin-top: 10px;

      .social-media {
        float: right;

        a {
          padding-left: 5px;
        }

        i:before {
          color: #8f9294;

          &:hover:before {
            color: $button-color;
          }
        }
      }

      .search-bar {
        float: right;

        .form-inline {
          @media(max-width: 990px) {
            padding-left: 20px;
          }

          .form-control.search {
            border: none;
            border-radius: 0;
            padding: 0;

            &:focus {
              outline: 0;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

  .widget-account {
    font-size: 18px;
    float: left;
    margin-bottom: 0;
    text-align: left;

    @media(max-width: 990px) {
      float: none;
      text-align: center;
    }

    .top-bar-account {
      display: inline-block;
      position: relative;
      margin-top: 10px;

      ul li {
        float: left;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: #8f9294;
          text-decoration: none;
          font-size: 14px;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $button-color;
            font-weight: bold;
            transition: .3s ease-in all;
          }
        }
      }
    }
  }

/********** LOGO ***********/

.middle-header {
  text-align: center;
  margin-top: 10px;

  @media(max-width: 990px) {
    text-align: left;
    margin-left: 10%;
  }

  @media(max-width: 550px) {
    margin-left: 2%;
    text-align: center;
  }

    .logo {
    max-width: 400px;
    width: 100%;
    height: auto;

      @media(max-width: 990px) {
        max-width: 250px;
        margin-bottom: 10px;
      }
  }
}



/***************** NAVBAR ************************/
header {
  position: relative;
  z-index: 9;

  .separate-nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height: 88px;

    @media(max-width: 990px) {
      border-bottom: none;
    }

    .navbar {
      box-shadow: none;
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      button.navbar-toggler {
        background-color: $second-color;

        @media(max-width: 990px) {
          position: relative;
          margin-top: 13px;
          top: -150px;
          left: 40%;
          width: 70px;
          height: 50px;
        }

        @media(max-width: 550px) {
          position: relative;
          top: -20px;
          left: 0;
          width: 70px;
          height: 50px;
          margin: 0 auto;
        }
      }

      #navbarSupportedContent {
        @media(max-width: 990px) {
          position: absolute;
          z-index: 2;
          top: -21px;
          background-color: #f7f7f7;
          width: 105%;
          height: 420px;
          text-align: center;
        }

        .nav-links.hidden {
          display: none;
          text-decoration: none;

          @media(max-width: 990px) {
            display: block;
            margin-top: 10px;
            font-size: 24px;
            color: #000;

            &:last-child {
              /*border-bottom: 1px dashed $button-color;*/
            }
          }
        }

        .nav-item {
          margin-right: 60px;

          @media(max-width: 990px) {
            margin-right: 0;
            margin-top: 10px;
            font-size: 24px;
          }

          a {
            position: relative;
            color: #000;
            z-index: 1;

            @media(max-width: 900px) {
            }

            &:hover,
            &:focus {
              color: $button-color;
              font-weight: bold;
              text-decoration: none;
            }

            &:before {
              content: "";
              position: absolute;
              width: 100%;
              height: 3px;
              bottom: -8px;
              left: 0;
              background: $button-color;
              visibility: hidden;
              border-radius: 5px;
              transform: scaleX(0);
              transition: .25s linear;
            }

            &:hover:before,
            &:focus:before {
              visibility: visible;
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}




