@import 'compass';
@import 'compass/reset';

// Colors
$default-color: #5e6372;
$title-color: #ca0034;
$button-color: #654EA3;
$second-color: #D27497;

// Fonts
$regular-font: 	'RobotoSlab-Regular', sans-serif;
$bold-font: 	'RobotoSlab-Bold', sans-serif;
$thin-font: 	'RobotoSlab-Thin', sans-serif;
$light-font: 	'RobotoSlab-Light', sans-serif;

// Imports files
@import 'fonts';
@import 'mixins';
@import 'default';
@import 'header';
@import 'home';
@import 'footer';
@import 'slider';
@import 'login';
@import 'register';
@import 'forget';
@import 'account';
@import 'contact';
